# region Database

DATABASE_HOST=
DATABASE_PORT=5432
DATABASE_USER=
DATABASE_PASSWORD=

DEVELOPMENT_DATABASE_NAME=
TEST_DATABASE_NAME=

# endregion

# region JWT

SECRET_KEY=GENERATE_YOUR_SECRET
ACCESS_TOKEN_EXPIRE_MINUTES=15

# endregion

# region Authentication

MAX_LOGIN_ATTEMPTS=5
ACCOUNT_LOCK_MINUTES=15

# endregion

# region Password Recovery

PASSWORD_RESET_TOKEN_EXPIRE_MINUTES=15

# endregion