# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
.venv

# Pytest
.pytest_cache/

# VS Code
.vscode/

# Coverage
htmlcov/
.coverage
report.html

# OS
.DS_Store
Thumbs.db

# DB
users.db
test.db

# Alembic
alembic/README

# Ruff
.ruff_cache

# MyPy
.mypy_cache

# env
.env